[Desktop Entry]
Type=Application
Categories=MIME;Documentation;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2

X-SuSE-translate=false

Icon=document
Exec=/usr/bin/firefox /usr/share/doc/packages/sap-installation-wizard/windows_cheat_sheet.pdf

Name=Cheat Sheet for Windows Admins
GenericName=Cheat Sheet
X-KDE-SubstituteUID=true

Trusted=true
