[Desktop Entry]
Type=Document
Categories=MIME;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=sap-installation-wizard

X-SuSE-translate=false

Icon=yast-support
Exec=/usr/bin/firefox /usr/doc/windows_cheat_sheet.pdf

Name=Cheat Sheet for Windows Admins
GenericName=Cheat Sheet
X-KDE-SubstituteUID=true